/* Reset geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo base do corpo da página */
body{
    background:#000000;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 280; /* ExtraBold */
}

.container{
    width:min(1400px,92%);
    margin:auto;
}

.books{
    padding:90px 0;
}

/*  -------------------------------------------  */
/*  -------------- TÍTULO DA SECÇÃO ------------  */
/*  -------------------------------------------  */
.books h2{
    text-align:left;
    font-size:6cap;
    font-weight:700;
    margin-bottom:70px;
    letter-spacing:1px;
}

/* Estrutura em grelha para os livros */

.books-grid{

    display:grid;
    /* --NUMERO DE COLUNAS-- */
    grid-template-columns:repeat(2,1fr);
    gap:60px;

}


/* Estilo dos cartões de livro */

.book-card{

    position:relative;
    height:500px;
    overflow:hidden;
    border-radius:15px;
    display:block;
    text-decoration:none;
    background:#1b1b1b;

}

/*  -------------------------------------------  */
/*  ------------ IMAGENS E HOVER --------------  */
/*  -------------------------------------------  */

.book-card img{

    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.5s ease;

}

.book-card .main-img{
    opacity:1;
}

.book-card .hover-img{
    opacity:0;
}

.book-card:hover .main-img{
    opacity:0;
}

.book-card:hover .hover-img{
    opacity:1;
    transform:scale(1.05);
}


/*  -------------------------------------------  */
/*      SOBREPOSIÇÃO ESCURA NOS CARDS          */

.overlay{

    position:absolute;
    inset:0;

    background:linear-gradient(
        to top,
        rgba(0,0,0,.85) 0%,
        rgba(0,0,0,.30) 30%,
        rgba(0,0,0,0) 60%
    );

}

/*  -------------------------------------------  */


/* Título do livro sobre a imagem */

.book-card h3{

    position:absolute;

/*  --POSIÇÃO DO TEXTO NA IMAGEM--  */
    left:25px;
    bottom:35px;

    color:white;

    font-size:18px;
    font-weight:500;
    line-height:1.15;

    width:90%;

    z-index:2;

}

/*  -------------------------------------------  */
/*  ------------ EFEITO AO PASSAR O MOUSE ------  */
/*  -------------------------------------------  */

.book-card:hover{

    transform:translateY(-2px);
    transition:.5s;

}
/*  -------------------------------------------  */

